header{
    background-color: #ffffff;
    height: 70px;
    width: 100%;
    border-bottom: 1px solid #cccccc;
}
.logo {
    background: url("../images/logo.png") no-repeat left;
    margin-left: 20px;
    height: 100%;
    display: block;
}